fastapi
azure-functions
uvicorn
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
catboost
lightgbm
xgboost
scikit-learn
pandas
numpy
scipy
requests
grpcio
grpcio-tools
protobuf
kagglehub
optuna
optuna-integration